<dialog id="login-dialog" class="animation-speed-normal animation-ease-in-out fadeIn">
	<form name="login">
		<fieldset class="no-border">
			<label for="login-id">Owner ID</label>
			<input type="number" name="ownerId" id="login-id" min="100000" max="666666" placeholder="######" pattern="\d{6}" minlength="6" maxlength="6" required="" />
		</fieldset>
		<button type="submit" class="btn-confirm">Submit</button>
		<button type="reset" class="btn-reject" data-close="#login-dialog">Cancel</button>
	</form>
</dialog>
