body > footer {
	grid-area: footer;
	color: var(--alt-color);
	background: #262626;
	padding: 1.3rem;
	min-height: 5vh;
	line-height: 1.8;
	border-top: 0.4rem solid gray;
	margin-top: 0.3rem;
}

body > footer .social-link {
	font-size: 1.8rem;
	margin-right: 0.3rem;
	transition: transform 650ms ease-in-out;
}

body > footer .social-link:hover {
	transform: scale(1.3) rotate(1turn);
}
